//footer
	@title footer
	@stuff


footer
	background-color: #fff3ee
	border-top: 1px solid #cbcbcb
	color: white
	text-shadow: 1px 1px black
	div
		text-align: center
		max-width: 80vw
		justify-content: center
		svg
			vertical-align: middle
		span
			line-height: 3
