body
	overflow-x: hidden

.page-home
	text-align: center
	img
		max-width: 100%
	article
		margin-bottom: 50px

	section#howHeartcupWorks
		figure
			margin: 10px
			svg
				+size(60px)
				fill: lighten(grey, 15%)
				max-width: 100px

	section#pink
		padding: 10px
		h1, blockquote
			color: white
			font-family: serif
			font-style: italic
		blockquote
			font-size: 25px
		h1
			font-size: 65px
	section#bottom
		figure



