body
	overflow-x: hidden
body.contact-bg
	background-image: url("../img/contactBG.png")
	background-size: cover
	background-position: center -50px
	background-repeat: no-repeat
	.page-home
		min-height: 500px
	footer 
		position: fixed
		bottom: 0
		right: 0
		left: 0
.page-home
	text-align: center
	img
		max-width: 100%
	article
		margin-bottom: 50px

	section#howHeartcupWorks
		figure
			margin: 10px
			svg
				+size(60px)
				fill: lighten(grey, 15%)
				max-width: 100px
	section#about
		p 
			font-size: 18px	
	section#contact
		margin-top: 150px
		box-shadow: none
		p 
			font-size: 24px
		a 
			color: darken($red, 20%)
			&:hover
				color: darken($red, 15%)
	section#services
		.weddingPackages
			background-color: #fff3ee
			max-width: 300px
			padding: 5px
			margin: 20px auto
		p 
			font-size: 24px
		.packages div
			background-color: #fff3ee
			padding: 60px 35px
			height: 170px
			margin: 0 20px
			p
				color: black
	section#media
		div img
			margin: 5px
		h2
			font-size: 49px
			margin-bottom: 5px
		.bottom h2
			font-size: 40px

	section#pink
		padding: 2px
		h1, blockquote
			color: white
			font-family: serif
			font-style: italic
			padding: 0px
		blockquote
			font-size: 25px
		h1
			font-size: 65px
	section#bottom
		figure



