//footer
	@author Austin

footer
	.container.flex.flex--align-items.flex--space-between.flex--flex-wrap
			img(src='assets/img/logo.png')
			span &copy; 2016 Chic Events. All rights reserved.
//script(src='assets/js/vendor.js')
script(src='assets/js/app.js')
