header.flex
	.top
		.container.header.flex.flex--justify-content.flex--align-items
			.hamburger
					span
			nav.flex.flex--space-between
				ul.flex.flex--space-between.flex--direction
					li
						a(href="index.html") Home
					li
						a(href="about.html") About
					li 
						a(href="services.html") Services
					li 
						a(href="galleries.html") Galleries
					li 
						a(href="media.html") Media
					li 
						a(href="contact.html") Contact

	.logo
		img(src="assets/img/logo.png", alt="Logo")

