doctype html
html(lang='en')
	include _head.pug
	body
		include _header.pug
		main.page-home

			section#about
				.container
					.figures.flex.flex--flex-wrap.flex--space-around
						figure.col-3
							//- img(src="assets/img/bio.png")

					p Sheryal Rozzelle, the founder of Chic Events has been a professional of the wedding industry for almost 20 years.

					p She is a full service wedding coordinator located in Salt lake City, Utah.
					p Sheryal has an amazing creative vision and typically thinks outside the box when planning her colorful events.
					p Chic Events has earned an outstanding reputation and is recognized for providing quality service with a unique touch.
					p Sheryal was considered one of the top wedding planners in Southern California and was honored to be referred by
					p the Ritz Carlton, St. Regis, The Four Seasons and Montage hotel and Resort.

					p Sheryal earned a bachelors degree in Graphic Design and has brought her celebrated design skills
					p into designing unique, on-trend, memorable events.

					p In any business, there is no replacement f or 20 years of valuable experience.
					p Sheryal brings professionalism and a reputation you can trust, with your most important day.
					p Her weddings are ground breaking and are published in many respected 
					p wedding magazines along with being featured in 2 episodes of Platinum Weddings W.E. channel.
					p Sheryal has talent for transforming the ordinary into the extraordinary. 
					p Her name has become synonymous with style, elegance, creativity and vision wih her events.


			section#pink.pink.mFull
				.container
					h1 Marriage
					blockquote is not the end of love, instead it is the very beginning of an incredible journey

			br

		include _footer.pug
