doctype html
html(lang='en')
	include _head.pug
	body.contact-bg
		include _header.pug
		main.page-home

			section#contact
				h2 CONTACT
				p For your complimentary consultation
				p or you would like to have a wedding packet mailed to you
				p Please contact Sheryal at: (949) 291-9966 or
				p email: #[a sheryalrozelle@gmail.com]
				
		include _footer.pug
