doctype html
html(lang='en')
	include _head.pug
	body
		include _header.pug
		main.page-home

			section#galleries.flex.flex--flex-wrap
				mixin gallery(image, link, text)
					.gallery-item
						a(href=link)
							.text=text
							img(src=image)
				+gallery('assets/img/Gallery1/image1.jpg', 'gallery1.html', 'Gallery 1')
				+gallery('assets/img/Gallery2/image1.jpg', 'gallery2.html', 'Gallery 2')
				+gallery('assets/img/Gallery3/image1.jpg', 'gallery3.html', 'Gallery 3')
				+gallery('assets/img/Gallery4/image1.jpg', 'gallery4.html', 'Gallery 4')
				+gallery('assets/img/Gallery5/image1.jpg', 'gallery5.html', 'Gallery 5')
				+gallery('assets/img/Gallery6/image1.jpg', 'gallery6.html', 'Gallery 6')
				+gallery('assets/img/Gallery7/image1.jpg', 'gallery7.html', 'Gallery 7')

		include _footer.pug
