doctype html
html(lang='en')
	include _head.pug
	body
		include _header.pug
		main.page-home

			section#howHeartcupWorks
				.container
					.figures.flex.flex--flex-wrap.flex--space-around
						figure.col-3
							img(src="assets/img/homeTop1.png")
						figure.col-3
							img(src="assets/img/homeTop2.png")
						figure.col-3
							img(src="assets/img/homeTop3.png") 

			section#pink.pink.mFull
				.container
					h1 Weddings
					blockquote All because two people fell in love

			section#bottom
				.container
					.flex.flex--flex-wrap
						figure.col-3 
							img(src="assets/img/homebottom1.png" alt="")
						figure.col-3 
							img(src="assets/img/homebottom2.png" alt="")
						figure.col-3 
							img(src="assets/img/homebottom3.png" alt="")

		include _footer.pug
