doctype html
html(lang='en')
	include _head.pug
	body
		include _header.pug
		main.page-home

			section#media
				.container
					.figures.flex.flex--flex-wrap.flex--space-around
						figure.col-3
							//- img(src="assets/img/bio.png")

					h2 PRESS

					.flex.flex--align-items.flex--center.flex--flex-wrap
						.div
							img(src="assets/img/press1.png")
						.div
							img(src="assets/img/press2.png")
						.div
							img(src="assets/img/press3.png")
					.flex.flex--align-items.flex--center.flex--flex-wrap
						img(src="assets/img/press4.png")
						img(src="assets/img/press5.png")

					.bottom
						h2 Featured on two episodes of “PLATINUM WEDDINGS”
					.flex.flex--center
						img(src="assets/img/pressbottom.png")


			br

		include _footer.pug
